* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    top: 0;
    z-index: 1;
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 10px;
    height: 50px;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    margin: 20px;
}

main {
    position: relative;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.mission {
    display: flex;
    align-items: center;
    background-image: url('pictures/img-mission-background.jpg');
    width: 1200px;
    height: 700px;
    margin-bottom: 50px;
}

section.mission_text {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 40px;
    margin-bottom: 0;
}

/* tea of the month */

.month {
    width: 1200px;
}

.month ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.month ul li img {
    margin: 0 0;
    width: 300px;
    height: 200px;
}

.month ul li h4 {
    margin-top: 10px;
}

/* locations */
.locations {
    height: 600px;
    width: 1200px;
    background-image: url('pictures/img-locations-background.jpg');
    background-size: cover;
    margin-bottom: 20px;
}

.locations h2 {
    margin-top: 100px;
    background-color: transparent;
    margin-bottom: 15px;
}

.locations ul {
    display: flex;
    display: inline-flex;
    background-color: transparent;
}

.locations ul li {
    margin: 0 20px;
}

.square {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}

.square h2 {
    margin-top: 0;
}

/* footer */
#copyright {
    text-align: left;
    margin-left: 20px;
}